@font-face {
  font-family: 'digital';
  src: url('./digital-7.ttf');
}

body {
  font-family: 'digital';
  background: #0e151f;
  color: white;
  font-size: 40px;
  padding: 2em 1em;
}

#clock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#date {
  display: flex;
  justify-content: center;
}

.colon {
  font-size: 100px;
  align-self: center;
}

.number {
  display: flex;
  font-size: 100px;

  flex-basis: 2.5em;
  height: 2.5em;

  margin: 0.1em;
  border-radius: 0.2em;
  background-color: #222c3a;

  justify-content: center;
  align-items: center;
}
